name: mongo-sharding-repl-cache

services:
  redis:
    image: "redis:latest"
    ports:
      - "6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    networks:
      app-network:

  mongodb-conf:
    extends:
      service: mongodb
      file: mongo.yml
    command:
      [
        "--configsvr",
        "--replSet",
        "configServer",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    deploy:
      replicas: 3


  mongodb-shard1:
    extends:
      service: mongodb
      file: mongo.yml
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard1",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    deploy:
      replicas: 3

  mongodb-shard2:
    extends:
      service: mongodb
      file: mongo.yml
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard2",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    deploy:
      replicas: 3

  mongodb-router:
    extends:
      service: mongodb
      file: mongo.yml
    command:
      [
        "mongos",
        "--configdb",
        "configServer/mongo-sharding-repl-cache-mongodb-conf-1:27017,mongo-sharding-repl-cache-mongodb-conf-2:27017,mongo-sharding-repl-cache-mongodb-conf-3:27017",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    deploy:
      replicas: 3
    depends_on:
      - mongodb-conf

  pymongo_api:
    container_name: pymongo_api
    build:
      context: api_app
      dockerfile: Dockerfile
    depends_on:
      - mongodb-router
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongo-sharding-repl-cache-mongodb-router-1,mongo-sharding-repl-cache-mongodb-router-2,mongo-sharding-repl-cache-mongodb-router-3"
      MONGODB_DATABASE_NAME: "somedb"
      REDIS_URL: "redis://redis:6379"
    networks:
      app-network:

networks:
  app-network:
